ESIGNET_SERVICE_URL=https://esignet.oracle1.fayda.et/v1/esignet
ESIGNET_TLS_INSECURE=true
ESIGNET_HTTP_TIMEOUT_SECS=20
FARMER_CLIENT_ID=8HUq1QEXH7rtMzQdzocDY8LKKv6Y9EnF8BJWgGes7j0

CLIENT_ID=
REDIRECT_URI=
AUTHORIZATION_ENDPOINT=
TOKEN_ENDPOINT=
USERINFO_ENDPOINT=
PRIVATE_KEY=
ALGORITHM=RS256
CLIENT_ASSERTION_TYPE=urn:ietf:params:oauth:client-assertion-type:jwt-bearer
