ESIGNET_SERVICE_URL=
ESIGNET_TLS_INSECURE=true
ESIGNET_HTTP_TIMEOUT_SECS=20
FARMER_CLIENT_ID=

CLIENT_ID=
REDIRECT_URI=
AUTHORIZATION_ENDPOINT=
TOKEN_ENDPOINT=
USERINFO_ENDPOINT=
PRIVATE_KEY=
ALGORITHM=RS256
CLIENT_ASSERTION_TYPE=urn:ietf:params:oauth:client-assertion-type:jwt-bearer
