CLIENT_ID=
REDIRECT_URI=http://localhost:3000/userprofile
AUTHORIZATION_ENDPOINT=
TOKEN_ENDPOINT=
USERINFO_ENDPOINT=
ESIGNET_SERVICE_URL=
ESIGNET_AUD_URL=
CLIENT_ASSERTION_TYPE=urn:ietf:params:oauth:client-assertion-type:jwt-bearer
PRIVATE_KEY_BASE64=
CORS_ORIGIN=http://localhost:3000
TOKEN_EXCHANGE_TARGET_AUDIENCE=
TOKEN_EXCHANGE_SCOPE=openid profile
